*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: white;
    font-family: 'Inter', sans-serif;
}
#headertop{
    background-color: grey;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
#headerbottom{
    padding: 1 0rem;
    border-bottom: 1px solid rgb(197, 181, 181);
}

.container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem ;
} 
#headerbottom .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    font-weight: 700;
}
#logoimage{
    width: 3rem;
}
#headerlink{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
#headerlink a{
    color: rgb(44, 40, 40);
}
.searchinput{
    padding: 0.5rem;
border: none;
outline: none;
}
#searchbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    
}
#searchbox span{
    font-size: 1rem;
}
#searcholder{
    border: solid grey;
    border-radius: 5px;
    display: none;
    
}
.locationinput{
    padding: 0.5rem;
    border: none;
    outline: none;
}
#locationbox{
display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.5rem;
    
}
#locationbox span{
    font-size: 1rem;
}
#locationholder{
    border: solid grey;
    border-radius: 5px;
    display: none;
    }
    .middlepart{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
    }
    .count{
        font-size: 1rem;
        background-color: orange;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 40%;
        position: absolute;
        top: 0;
        right: 0;
        translate: 40% -30%;
    }
    .headerlink{
        position: relative;

    }

@media only screen and (min-width: 960px) {
    #menubutton{
        display: none;
    }
#searcholder{
    display: block;
}
#locationholder{
    display: block;
}
  }

